<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/CSS/style.css" type="text/css">
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/Content/JS/script.js" type="text/javascript"></script>
    <title>Message Board</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="logo" href="/"><h1>epicodex</h1></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            @if((Model["user"] == null) && (Model["validate"]==true))
            {
              <p class="navform-show navtext login">log in</p>
              <div class="navform">
                <form class="navbar-form navbar-left" action="/login" method="post">
                  <input class="form-control" type="text" name="user-name" placeholder="User Name">
                  <input class="form-control" type="password" name="password" placeholder="Password">
                  <button class="btn btn-primary" type="submit" name="button">Login</button>
                </form>
              </div>
            }
            else if ((Model["user"] == null) && (Model["validate"] == false))
            {
              <a class="navform-show navtext">log in</a>
              <div class="navform">
                <form class="navbar-form navbar-left" action="/login" method="post">
                  <input class="form-control" type="text" name="user-name" placeholder="User Name">
                  <input class="form-control" type="password" name="password" placeholder="Password">
                  <button class="btn btn-primary" type="submit" name="button">Login</button>
                </form>
              </div>
              <p>User Not Found</p>
            }
            else
            {
              <form class="navbar-form navbar-left" action="/logout" method="post">
                <a href='/profile/@Model["user"].GetId()' class='navtext'>logged in as @Model["user"].GetName()</a>
                <button class="btn-navbar" type="submit" name="button">logout</button>
              </form>
            }
          </li>
        </ul>
    </nav>
    <div class="container">
      <div class="col-md-10 main-content">
        <h1>SEARCH RESULTS FOR "@Model["keyword"]"</h1>
        @if(Model["results"].Count == 0)
        {
          <h2>No Results</h2>
        }
        else
        {
          @foreach(var category in Model["results"])
          {
            <div class="post-listing">
              <li><a href="/categories/@category.GetId()">@category.GetName() (@category.GetPosts().Count posts)</a></li>
            </div>
          }
        }
      </div>
      <div class="col-md-2">
        <div class="sidebar">
          <ul>
            <li class="sidebar-listitem"><a href="/new"><button type="button" class="btn btn-success">New Post</button></a></li>
            <li class="sidebar-listitem"><a href="/new_category"><button type="button" class="btn btn-success">New Category</button></a></li>
            <li class="sidebar-listitem">
              <form action="/" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger" type="submit">Delete all Posts</button>
              </form>
            </li>
            <li class="sidebar-listitem">
              <form action="/categories" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger" type="submit">Delete all Categories</button>
              </form>
            </li>
            </li class="sidebar-listitem">
            <li><a href="/register"><button type="button" class="btn btn-info">Register</button></a></li>
          </ul>
          @if((Model["user"] == null) && (Model["validate"]==true))
          {
            <form class="form-group" action="/login" method="post">
              <input class="form-control" type="text" name="user-name" placeholder="User Name">
              <input class="form-control" type="password" name="password" placeholder="Password">
              <button class="btn btn-primary" type="submit" name="button">Login</button>
            </form>
          }
          else if ((Model["user"] == null) && (Model["validate"] == false))
          {
            <form class="form-group" action="/login" method="post">
              <input class="form-control" type="text" name="user-name" placeholder="User Name">
              <input class="form-control" type="password" name="password" placeholder="Password">
              <button class="btn btn-primary" type="submit" name="button">Login</button>
            </form>
            <p>User Not Found</p>
          }
          else
          {
              <h5>@Model["user"].GetName()</h5>
              <form class="form-group" action="/logout" method="post">
                <button class="btn btn-primary" type="submit" name="button">Logout</button>
              </form>
          }
          <h5>Search Posts</h5>
          <form class="form-group" action="/posts/search" method="post">
            <input class="form-control" name="keyword" type="text">
            <button class="btn btn-primary" type="submit" name="button">Search</button>
          </form>
          <h5>Search Categories</h5>
          <form class="form-group" action="/categories/search" method="post">
            <input class="form-control" name="keyword" type="text">
            <button class="btn btn-primary" type="submit" name="button">Search</button>
          </form>
          <h5>Categories</h5>
          <ul>
          @foreach(var category in Model["categories"])
          {
            <li class="sidebar-listitem"><a href="/categories/@category.GetId()">@category.GetName()</a></li>
          }
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <p>&copy; 2016 Message Board</p>
    </footer>
  </body>
</html>
