<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/Content/CSS/style.css" type="text/css">
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/Content/JS/script.js" type="text/javascript"></script>
  <title>epicodex</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="logo" href="/"><h1>epicodex</h1></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          @if((Model["user"] == null) && (Model["validate"]==true))
          {
            <p class="navform-show navtext login">log in</p>
            <div class="navform">
              <form class="navbar-form navbar-left" action="/login" method="post">
                <input class="form-control" type="text" name="user-name" placeholder="User Name">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <button class="btn btn-primary" type="submit" name="button">Login</button>
              </form>
            </div>
          }
          else if ((Model["user"] == null) && (Model["validate"] == false))
          {
            <a class="navform-show navtext">log in</a>
            <div class="navform">
              <form class="navbar-form navbar-left" action="/login" method="post">
                <input class="form-control" type="text" name="user-name" placeholder="User Name">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <button class="btn btn-primary" type="submit" name="button">Login</button>
              </form>
            </div>
            <p>User Not Found</p>
          }
          else
          {
            <form class="navbar-form navbar-left" action="/logout" method="post">
              <a href='/profile/@Model["user"].GetId()' class='navtext'>logged in as @Model["user"].GetName()</a>
              <button class="btn-navbar" type="submit" name="button">logout</button>
            </form>
          }
        </li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <div class="row">
      <!-- MAIN CONTENT -->
      <div class="col-md-10 main-content">
        <a href='/posts/@Model["comment"].GetPostId()'>View original post</a>
        <!-- CONTENT OF COMMENT -->
        <div class="comment-content">
          <div class="page-header">
            <p><a href='/profile/@Model["comment"].GetUserId()'>@Model["comment"].GetAuthor()</a> - @Model["comment"].GetTime()</p>
            <form action='/comments/@Model["comment"].GetId()/vote' method="post">
              <input type="hidden" name="_method" value="PATCH">
              <input type="hidden" name="vote" value="1">
              <input type="hidden" name="comment-id" value='@Model["comment"].GetId()'>
              <button type="submit" name="upvote" class="votebtn upvote">+</button>
            </form>
            <form action='/comments/@Model["comment"].GetId()/vote' method="post">
              <input type="hidden" name="_method" value="PATCH">
              <input type="hidden" name="vote" value="-1">
              <input type="hidden" name="comment-id" value='@Model["comment"].GetId()'>
              <button type="submit" name="downvote" class="votebtn downvote">-</button>
            </form>
            <p>@Model["comment"].GetRating() | @Model["comment"].GetAuthor() - @Model["comment"].GetTime()</p>
          </div>
          <p>
            @Model["comment"].GetMainText()
          </p>
          @if(Model["comment"].GetUserId() == Model["user"].GetId())
          {
            <h6><a class="show-form" id='comment-@Model["comment"].GetId()-edit'>Edit</a></h6>
            <div class="comment-form" id='comment-@Model["comment"].GetId()-edit-form'>
              <a class="hide-form">Hide</a>
              <form class="form-group" action='/comments/@Model["comment"].GetId()' method="post">
                <input type="hidden" name="_method" value="PATCH">
                <label>Main Text:</label>
                <input class="form-control" type="text" name="update-main-text" value='@Model["comment"].GetMainText()' required>
                <input type="hidden" name="post-id" value='@Model["comment"].GetPostId()'>
                <button class="btn btn-primary" type="submit" name="button">Submit</button>
              </form>
            </div>
            <h6><a href='/comments/@Model["comment"].GetId()/remove-comment'>Remove</a></h6>
          }
        </div>
        <!-- END CONTENT OF COMMENT -->
        <!-- FORM FOR NEW TOP LEVEL COMMENT -->
        <a class="show-form" id="top">Reply</a>
        <div class="comment-form" id="top-form">
          <a class="hide-form">Hide</a>
          <form class="form-group" action='/comments/@Model["comment"].GetId()' method="post">
            <input class="form-control" type="hidden" name="comment-author" value='@Model["user"].GetName()'>
            <label>Main Text:</label>
            <input class="form-control" type="text" name="comment-main-text" value="">
            <input type="hidden" name="comment-id" value='@Model["comment"].GetId()'>
            <input type="hidden" name="post-id" value='@Model["comment"].GetPostId()'>
            <button type="submit" name="button" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <!-- END FORM FOR NEW TOP LEVEL COMMENT -->
        @foreach(var comment in Model["comment"].GetChildren())
        {
          <!-- WRAPPER AROUND COMMENT + ITS CHILDREN -->
          <div class="comment-wrapper">
            <!-- CONTENT OF COMMENT -->
            <div class="comment-content">
              <div class="page-header">
                <p><a href="/profile/@comment.GetUserId()">@comment.GetAuthor()</a> - @comment.GetTime()</p>
                <form action='/comments/@Model["comment"].GetId()/vote' method="post">
                  <input type="hidden" name="_method" value="PATCH">
                  <input type="hidden" name="vote" value="1">
                  <input type="hidden" name="comment-id" value='@comment.GetId()'>
                  <button type="submit" name="upvote" class="votebtn upvote">+</button>
                </form>
                <form action='/comments/@Model["comment"].GetId()/vote' method="post">
                  <input type="hidden" name="_method" value="PATCH">
                  <input type="hidden" name="vote" value="-1">
                  <input type="hidden" name="comment-id" value='@comment.GetId()'>
                  <button type="submit" name="downvote" class="votebtn downvote">-</button>
                </form>
                <p>@comment.GetRating() | @comment.GetAuthor() - @comment.GetTime()</p>
              </div>
              <p>
                @comment.GetMainText()
              </p>
              @if(comment.GetUserId() == Model["user"].GetId())
              {
                <h6><a class="show-form" id='comment-@comment.GetId()-edit'>Edit</a></h6>
                <div class="comment-form" id='comment-@comment.GetId()-edit-form'>
                  <a class="hide-form">Hide</a>
                  <form class="form-group" action='/comments/@Model["comment"].GetId()/@comment.GetId()' method="post">
                    <input type="hidden" name="_method" value="PATCH">
                    <label>Main Text:</label>
                    <input class="form-control" type="text" name="update-main-text" value='@comment.GetMainText()' required>
                    <button class="btn btn-primary" type="submit" name="button">Submit</button>
                  </form>
                </div>
                <h6><a href='/comments/@Model["comment"].GetId()/@comment.GetId()/remove-comment'>Remove</a></h6>
              }
            </div>
            <!-- END CONTENT OF COMMENT -->
            <!-- FORM FOR REPLYING TO TOP LEVEL COMMENT -->
            <a class="show-form" id="child-@comment.GetId()">Reply</a>
            <div class="comment-form" id="child-@comment.GetId()-form">
              <a class="hide-form">Hide</a>
              <form class="form-group" action='/comments/@Model["comment"].GetId()' method="post">

                <input class="form-control" type="hidden" name="comment-author" value='@Model["user"].GetName()'>
                <label>Main Text:</label>
                <input class="form-control" type="text" name="comment-main-text" value="">
                <input type="hidden" name="post-id" value='@Model["comment"].GetPostId()'>
                <input type="hidden" name="comment-id" value="@comment.GetId()">
                <button type="submit" name="button" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <!-- END FORM FOR REPLYING TO TOP LEVEL COMMENT -->
            <!-- ALL COMMENT CHILDREN -->
            <div class="comment-children">
              @foreach(var childComment in comment.GetChildren())
              {
                <!-- WRAPPER AROUND INDIVIDUAL CHILD COMMENT -->
                <div class="comment-wrapper">
                  <div class="comment-content">
                    <div class="page-header">
                      <p><a href="/profile/@childComment.GetUserId()">@childComment.GetAuthor()</a> - @childComment.GetTime()</p>
                      <form action='/comments/@Model["comment"].GetId()/vote' method="post">
                        <input type="hidden" name="_method" value="PATCH">
                        <input type="hidden" name="vote" value="1">
                        <input type="hidden" name="comment-id" value='@childComment.GetId()'>
                        <button type="submit" name="upvote" class="votebtn upvote">+</button>
                      </form>
                      <form action='/comments/@Model["comment"].GetId()/vote' method="post">
                        <input type="hidden" name="_method" value="PATCH">
                        <input type="hidden" name="vote" value="-1">
                        <input type="hidden" name="comment-id" value='@childComment.GetId()'>
                        <button type="submit" name="downvote" class="votebtn downvote">-</button>
                      </form>
                      <p>@childComment.GetRating() | @childComment.GetAuthor() - @childComment.GetTime()</p>
                    </div>
                    <p>
                      @childComment.GetMainText()
                    </p>
                    @if(childComment.GetUserId() == Model["user"].GetId())
                    {
                      <h6><a class="show-form" id='comment-@childComment.GetId()-edit'>Edit</a></h6>
                      <div class="comment-form" id='comment-@childComment.GetId()-edit-form'>
                        <a class="hide-form">Hide</a>
                        <form class="form-group" action='/comments/@Model["comment"].GetId()/@childComment.GetId()' method="post">
                          <input type="hidden" name="_method" value="PATCH">
                          <label>Main Text:</label>
                          <input class="form-control" type="text" name="update-main-text" value='@childComment.GetMainText()' required>
                          <button class="btn btn-primary" type="submit" name="button">Submit</button>
                        </form>
                      </div>
                      <h6><a href='/comments/@Model["comment"].GetId()/@childComment.GetId()/remove-comment'>Remove</a></h6>
                    }
                  </div>
                  <a class="show-form" id="grandchild-@childComment.GetId()">Reply</a>
                  <div class="comment-form" id="grandchild-@childComment.GetId()-form">
                    <a class="hide-form">Hide</a>
                    <form class="form-group" action='/comments/@Model["comment"].GetId()' method="post">
                      <input class="form-control" type="hidden" name="comment-author" value='@Model["user"].GetName()'>
                      <label>Main Text:</label>
                      <input class="form-control" type="text" name="comment-main-text" value="">
                      <input type="hidden" name="comment-id" value="@childComment.GetId()">
                      <input type="hidden" name="post-id" value='@Model["comment"].GetPostId()'>
                      <button type="submit" name="button" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                  <!-- CHILDREN OF CHILD COMMENT -->
                  <div class="grandchildren">
                    @foreach(var grandchildComment in childComment.GetChildren())
                    {
                      <div class="comment-wrapper">
                        <div class="comment-content">
                          <div class="page-header">
                            <p><a href="/profile/@grandchildComment.GetUserId()">@grandchildComment.GetAuthor()</a> - @grandchildComment.GetTime()</p>
                            <form action='/comments/@Model["comment"].GetId()/vote' method="post">
                              <input type="hidden" name="_method" value="PATCH">
                              <input type="hidden" name="vote" value="1">
                              <input type="hidden" name="comment-id" value='@grandchildComment.GetId()'>
                              <button type="submit" name="upvote" class="votebtn upvote">+</button>
                            </form>
                            <form action='/comments/@Model["comment"].GetId()/vote' method="post">
                              <input type="hidden" name="_method" value="PATCH">
                              <input type="hidden" name="vote" value="-1">
                              <input type="hidden" name="comment-id" value='@grandchildComment.GetId()'>
                              <button type="submit" name="downvote" class="votebtn downvote">-</button>
                            </form>
                            <p>@grandchildComment.GetRating() | @grandchildComment.GetAuthor() - @grandchildComment.GetTime()</p>
                          </div>
                          <p>
                            @grandchildComment.GetMainText()
                          </p>
                          @if(childComment.GetUserId() == Model["user"].GetId())
                          {
                            <h6><a class="show-form" id='comment-@grandchildComment.GetId()-edit'>Edit</a></h6>
                            <div class="comment-form" id='comment-@grandchildComment.GetId()-edit-form'>
                              <a class="hide-form">Hide</a>
                              <form class="form-group" action='/comments/@Model["comment"].GetId()/@grandchildComment.GetId()' method="post">
                                <input type="hidden" name="_method" value="PATCH">
                                <label>Main Text:</label>
                                <input class="form-control" type="text" name="update-main-text" value='@grandchildComment.GetMainText()' required>
                                <button class="btn btn-primary" type="submit" name="button">Submit</button>
                              </form>
                            </div>
                            <h6><a href='/comments/@Model["comment"].GetId()/@grandchildComment.GetId()/remove-comment'>Remove</a></h6>
                          }
                          @{int numberOfChildren = grandchildComment.GetChildren().Count;}
                          @if(numberOfChildren > 0)
                          {
                            <a href="/comments/@grandchildComment.GetId()">View numberOfChildren comments</a>
                          }
                          else
                          {
                            <a href="/comments/@grandchildComment.GetId()">No comments</a>
                          }
                        </div>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
      <div class="col-md-2">
        <div class="sidebar">
          <ul>
            <li class="sidebar-listitem"><a href="/new"><button type="button" class="btn btn-success">New Post</button></a></li>
            <li class="sidebar-listitem">
              <form action="/" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger" type="submit">Delete all Posts</button>
              </form>
            </li class="sidebar-listitem">
            <li><a href="/register"><button type="button" class="btn btn-info">Register</button></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
