<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/CSS/style.css" type="text/css">
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/Content/JS/script.js" type="text/javascript"></script>
    <title>@Model.GetTitle()</title>
  </head>
  <body>
    <div class="container">
      <div class="col-md-12">
        <h2>@Model.GetTitle()</h2>
        <h3>@Model.GetAuthor()</h3>
        <h5>@Model.GetRating()</h5>
        <p>
          @Model.GetMainText()
        </p>

        <h4>Comments:</h4>
        <ul class="list-group">
          @foreach (var comment in Model.GetAllDirectChildren())
          {
            <div><li class="list-group-item">@comment.GetRating() - @comment.GetMainText()</li></div><br>
            <h5>@comment.GetAuthor()</h5>
            <form action="/posts/@Model.GetId()/reply" method="post">
              <label>Author:</label>
              <input class="form-control" type="text" name="reply-author" value="">
              <label>Main Text:</label>
              <input class="form-control" type="text" name="reply-main-text" value="">
              <input type="hidden" name="parent-id" value="@comment.GetId()">
              <input type="hidden" name="post-id" value="@Model.GetId()">
              <button type="submit" name="button">Submit</button>
            </form>
            @foreach(var child in comment.GetChildren())
            {
              <div><li class="list-group-item">@child.GetRating() - @child.GetMainText()</li></div><br>
              <h5>@child.GetAuthor()</h5>
            }
          }
        </ul>
        <h2>Add A Comment:</h2>
        <form class="form-group" action="/posts/@Model.GetId()" method="post">
          <label>Author:</label>
          <input class="form-control" type="text" name="comment-author" value="">
          <label>Main Text:</label>
          <input class="form-control" type="text" name="comment-main-text" value="">
          <input type="hidden" name="post-id" value="@Model.GetId()">
          <button type="submit" name="button">Submit</button>
        </form>
        <form action="/posts/@Model.GetId()/comment" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" name="button">Delete all Comments</button>
        </form>
        <a href="/">Home</a>
      </div>
    </div>
  </body>
</html>
